* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px 30px;
}

.input-group {
    padding-bottom: 20px;
}
@media screen and (min-width: 1088px) {
    .list{
        max-width: 80vw;
    }
}